// Fonts
$main-font: 'Open sans', sans-serif;

// Colors
$title-dark-theme: #ffffff;
$title-white-theme: #323941;
$text-dark-theme: #ffffff;
$text-white-theme: #323941;
$subtitle-green: #6ACD68;
$backgraund-footer: #32393F;
$backgraund: #323941;
$border-blue: #009EFF;
$border-grey: #999999;
$accent-color: #009EFF;
$radial-gradient: (68.67% 47% at 50% 100%, #151D37 0%, #000000 100%);
$button-bcg: #009EFF;
$icon-color: #32393F;
$bcg-white: #ffffff;

//Transition
$transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);